.container
  .page-header.list-page
    %h2
      Preguntas > 
      =@pregunta[:idPregunta]

  %form.form-horizontal{:action => "/pregunta/#{@pregunta[:idPregunta]}", :method => "POST", :name => "form-edit-quiz", :role => "form"}
    .form-group
      %label.col-lg-2.control-label{:for => "titulo"} Texto de la pregunta
      .col-lg-8
        %textarea.form-control#MathInput{:onkeyup => "Preview.Update()", :autofocus => "", :name => "titulo", :rows => "5", :style => "margin-top:5px"}= @pregunta[:titulo]
    .form-group
      %label.col-lg-2.control-label{:for => "preview"} Previsualización
      .col-lg-8
        #MathPreview.form-control
        #MathBuffer.form-control{:style => "visibility:hidden; position:absolute; top:0; left: 0;"}
        :javascript
          Preview.Init();





    .form-group
      %label.col-lg-2.control-label{:for => "tags"} Tags
      .col-lg-8
        %input.form-control{"data-role" => "tagsinput", :placeholder => "Añade tags a tu pregunta", :type => "text", :value => "", :name => "tags", :value => @pregunta[:tags]}
    .form-group  
      .btn-group{"data-toggle" => "buttons"}
        %label.btn.btn-primary.active{:id => "resp-vf"}
          %input#option1{:checked => "", :name => "tipo", :type => "radio", :value => "vf"}
            Verdadero - Falso

        %label.btn.btn-primary{:id => "resp-corta"}          
          %input#option2{:name => "tipo", :type => "radio", :value => "corta"}
            Respuesta corta

        %label.btn.btn-primary{:id => "resp-multiple"}
          %input#option3{:name => "tipo", :type => "radio", :value => "expReg"}
            Expresión regular
      #respuesta-vf
        %br
        .form-group
          %label.col-lg-2.control-label{:for => "correcta"} Respuesta correcta
          .col-lg-8
            .radio.radio-inline
              %label
                - if (@respuesta[:correcto])
                  %input#optionsRadios1{:checked => "", :name => "opciones", :type => "radio", :value => "true"}
                    Verdadero
                - else
                  %input#optionsRadios1{:name => "opciones", :type => "radio", :value => "true"}
                    Verdadero
            .radio.radio-inline
              %label
                - if (!@respuesta[:correcto])
                  %input#optionsRadios2{:checked => "",:name => "opciones", :type => "radio", :value => "false"}
                    Falso
                - else
                  %input#optionsRadios2{:name => "opciones", :type => "radio", :value => "false"}
                    Falso
      - tipoResp = ''
      - if @respuesta[:tipo] == 'corta' then tipoResp = @respuesta[:texto] end
      .respuesta#respuesta-corta
        %br
        .form-group
          %label.col-lg-2.control-label{:for => "correcta"} Respuesta corta
          .col-lg-8
            %input.form-control{:placeholder => "Respuesta corta", :type => "text", :name => "corta", :type => "corta", :value => tipoResp }
            
      - if @respuesta[:tipo] == 'expReg' then tipoResp = @respuesta[:texto] end
      .respuesta#respuesta-multiple
        %br
        .form-group
          %label.col-lg-2.control-label{:for => "correcta"} Expresión regular
          .col-lg-8
            %input.form-control{:placeholder => "Escribir la expresión regular entre barras /expresión/", :type => "text", :name => "expReg", :type => "corta", :value => tipoResp }

      /%a.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample"}
      /  Link with href
      /%button.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample", "data-toggle" => "collapse", :type => "button"}
      /  Button with data-target
      /#collapseExample.collapse
      /  .well
      /    asdgdfgsdgh sfdgghgd


    %button.btn.btn-primary{:type => "submit"} Guardar