!!!
%html
  %head
    %title SocialQuiz - Welcome
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Rajdhani:400, YOpen+Sans+Condensed:300italic,300&subset=latin,latin-ext", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"}
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"}
    %link{:rel => "icon", :type => "image/ico", :href => "img/logo.ico"}
  %body
    %h1.text-center SOCIAL QUIZ
    %h3.text-center No está autorizado a visualizar esta página.