.row
  .col-md-6
    Grupos:
    #lista-grupos
      %ul#lista-gr
        - @grupos.each do |grupo|
          %span.enlace-fake
            %li#gr{:id => "#{grupo[:idGrupo]}"}
              =grupo[:nombre]
          
    .form-group
      .col-lg-11
        %a{:href => "/grupos/new"}
          %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Crear grupo"}
            %span.glyphicon.glyphicon-plus
            Crear grupo
        /%button.btn.btn-primary{:type => "submit", :id => "crear-grupo"} Crear grupo
  .col-md-6
    Usuarios:
    #lista-usuarios
      / %ul#lista-usr
      /       %span
      /         %li#gr{:id => "#{usr[:idUsuario]}"}
      /           =usr[:username]

    .form-group
      .col-lg-11
        %a{:href => "", :id => "add-user-link"}
          %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Añadir usuario"}
            %span.glyphicon.glyphicon-user
            Añadir usuarios
        /%button.btn.btn-primary{:type => "submit", :id => "add-usuario"} Añadir
