.container
  .page-header.list-page
    %h2 Grupos
  .row
    .col-md-6
      Grupos:
      .lista-grupos
        %ul#lista-gr.list-group
          - @grupos.each do |grupo|
            %span.enlace-fake
              %li#gr{:id => "#{grupo[:idGrupo]}", :class => "list-group-item"}
                =grupo[:nombre]
            

      %a{:href => "/grupos/new"}
        %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Crear grupo"}
          %span.glyphicon.glyphicon-plus
          Crear grupo
      %a{:href => "/grupo/XX", :id => "edit-group-link"}
        %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Editar grupo"}
          %span.glyphicon.glyphicon-pencil
          Editar grupo
      %a{:href => "", :id => "delete-group-link", :data => "", "data-target" => "#myModalTrash", "data-toggle" => "modal", "data-whatever" => ""}
        %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Eliminar grupo"}
          %span.glyphicon.glyphicon-trash
          Eliminar grupo

      / Modal de eliminación
      #myModalTrash.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} &times;
              %h4#myModalLabel.modal-title Eliminar grupo
            .modal-body
              %p
                / ¿Quiere realmente eliminar el examen
                / %strong=examen[:titulo]
                / ?
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancelar
              %button.btn.btn-danger{:type => "button", :id => "botonEliminar", :data => "UNO"} Eliminar

    
    .col-md-6
      Usuarios:
      #lista-usuarios

      
      %a{:href => "/grupos/miembros/#{session[:grupo]}", :id => "add-user-link"}
        %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Añadir usuario"}
          %span.glyphicon.glyphicon-user
          Añadir/eliminar usuarios
      / %form#formulario{:action => "/grupos/miembros", :method => "post", :name => "form-new-member", :role => "form"}
      /   %button.btn.btn-primary{:type => "submit", :id => "add-usuario"} Añadir/Eliminar usuario
      %input{:id => 'oculto', :name => "opcion", :type => "hidden", :value => "si"}
            
