.container
  .page-header.list-page
    %h2 Pregunta -> Nueva


  %form.form-horizontal{:action => "/preguntas/new", :method => "POST", :name => "form-new-quiz", :role => "form"}
    .form-group
      %label.col-lg-2.control-label{:for => "titulo"} Texto de la pregunta
      .col-lg-8
        %textarea.form-control#MathInput{:onkeyup => "Preview.Update()", :autofocus => "", :name => "titulo", :rows => "5", :style => "margin-top:5px", :placeholder => "Introduce un texto para tu pregunta"}
    .form-group
      %label.col-lg-2.control-label{:for => "preview"} Previsualización
      .col-lg-8
        #MathPreview.form-control
        #MathBuffer.form-control{:style => "visibility:hidden; position:absolute; top:0; left: 0;"}
        :javascript
          Preview.Init();





    .form-group
      %label.col-lg-2.control-label{:for => "tags"} Tags
      .col-lg-8
        %input.form-control{"data-role" => "tagsinput", :placeholder => "Añade tags a tu pregunta", :type => "text", :value => "", :name => "tags"}
    .form-group  
      .btn-group{"data-toggle" => "buttons"}
        %label.btn.btn-primary.active{:id => "resp-vf"}
          %input#option1{:checked => "", :name => "tipo", :type => "radio", :value => "vf"}
            Verdadero - Falso
        %label.btn.btn-primary{:id => "resp-corta"}
          %input#option2{:name => "tipo", :type => "radio", :value => "corta"}
            Respuesta corta
        %label.btn.btn-primary{:id => "resp-multiple"}
          %input#option3{:name => "tipo", :type => "radio", :value => "multiple"}
            Respuesta múltiple
      #respuesta-vf
        %p Esto muestra el formlario de Verdadero y Falso.
        .form-group
          %label.col-lg-2.control-label{:for => "correcta"} Respuesta correcta
          .col-lg-8
            .radio.radio-inline
              %label
                %input#optionsRadios1{:checked => "", :name => "opciones", :type => "radio", :value => "true"}
                  Verdadero
            .radio.radio-inline
              %label
                %input#optionsRadios2{:name => "opciones", :type => "radio", :value => "false"}
                  Falso
      .respuesta#respuesta-corta
        Esto muestra el formlario de respuesta corta.
        .form-group
          %label.col-lg-2.control-label{:for => "correcta"} Respuesta corta
          .col-lg-8
            %input.form-control{:placeholder => "Respuesta corta", :type => "text", :name => "corta", :type => "corta"}
      .respuesta#respuesta-multiple
        Esto muestra el formlario de respuesta múltiple.

      /%a.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample"}
      /  Link with href
      /%button.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample", "data-toggle" => "collapse", :type => "button"}
      /  Button with data-target
      /#collapseExample.collapse
      /  .well
      /    asdgdfgsdgh sfdgghgd


    %button.btn.btn-primary{:type => "submit"} Guardar