!!!
%html
  %head
    %title SocialQuiz - Welcome
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Rajdhani:400, YOpen+Sans+Condensed:300italic,300&subset=latin,latin-ext", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "./css/welcome.css"}
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"}
    %link{:rel => "icon", :type => "image/ico", :href => "img/logo.ico"}
  %body
    #contenidoWeb
      #contenedor
        #contenedor-logo
          %img{:id => "logo", :src => "img/logo.png"}
        #texto
          %h1 SOCIALQUIZ
          %h3 BIENVENIDO A LA RED SOCIAL DE CREACIÓN DE EXÁMENES
          %h4 Comienza...
          %a{:href => "/signup"}
            %button.btn.btn-default.btn-lg.botones{:type => "button"} Regístrate
          %a{:href => "/login"}
            %button.btn.btn-default.btn-lg.botones{:type => "button"} Accede