body {
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-color: #eee;*/
  /*background: green url(../img/wallpaper2.jpg);*/
  background-attachment: fixed;
  /*color: white;*/
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color: #31B0D5;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*#contenedor {
  background: rgba(255, 255, 255, 0.2);
  max-width: 50%;
  height: auto;
  margin: 0 auto;
  border-radius: 25px;
}*/

.panel {
  background: rgba(255, 255, 255, 0.5);
}

#loginbox {
  margin-top:50px;
}

#pass-msg {
  float:right;
  font-size: 80%;
  position: relative;
  top:-10px;
}

#signup-msg {
  border-top: 1px solid#888;
  margin-top:10px;
  padding-top:5px;
  font-size:85%;
}

#icono-autenticacion {
  width: 20px;
  height: auto;
}

.boton-google {
  background-color: #d64532;
  color: white;
}

a.boton-google:hover {
  color: white;
  background-color: #bc3d2f;
}

/*.glyphicon {
  top: 0;
}*/

/*.glyphicon.glyphicon-user {
  color: #31B0D5;
}

.glyphicon.glyphicon-lock {
  color: #31B0D5;
}*/

.btn-google {
  /*background-color: #D6492F;*/
}