.cuadro-pregunta {
	width: 100%;
	padding: 5px;
	margin: 5px;
	text-align: left;
}

.cuadro-respuesta {
	background-color: #EEEEEE;
}

.preguntaModal {

}

.respuestaModal {
	background-color: #EEEEEE;
	font-weight: bold;
}

.respuestaModalCorrecta {
	background-color: #78AE74;
}

.respuestaModalIncorrecta {
	background-color: #FF1A3B;
}