#lista-usuarios {
	border-style: solid;
	border-width: 1px;
	height: 200px;
	border-radius: 5px;
	margin-bottom: 0.5em;
	overflow-y : scroll;
}

#lista-grupos {
	border-style: solid;
	border-width: 1px;
	height: 200px;
	border-radius: 5px;
	margin-bottom: 0.5em;
	overflow-y : scroll;
}

#lista-gr {
	list-style: none;
}

#lista-usr {
	list-style: none;
}

li.active {
	font-weight: bold;
}

.enlace-fake {
	cursor: pointer;
}