html,
body {
  height: auto;
  /*background-color: #66A523;*/
  height:100%;
  width:100%;

  /*background: url(../img/wallpaper2.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: 'Rajdhani', sans-serif;
  color: black;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

.panel.panel-success {
	/*background-color: rgba(255,255,255, 0.8);
	margin-bottom: 6px;*/
}

.imagen {
	margin-left: 5px;
	margin-right: 5px;
}

p {
	margin: 0;
}

#descripcion {
  resize:none;
}

#imagen-menu {
  width: 45px;
  height: auto;
  margin-top:2px;
  /*border: 1px solid #000;*/
  /*border-radius: 50%;*/
  overflow: hidden;
}

#pass-msg {
  float:right;
  /*font-size: 80%;*/
  position: relative;
  top:-15px;
}

#pass-msg:hover {
  font-size: 105%;
}

nav.navbar.navbar-default {
  /*background-color:#5bc0de;*/
}

.opciones {
  border-collapse: collapse;
}

.page-header.list-page {
  margin-top: 0;
  text-align: left;
}

.page-header.list-page h2 {
  color: #428BCA;
  margin-bottom: 0;
}

.modal-backdrop
{
  z-index: 0;
}

/* Tooltip */
.tooltip > .tooltip-inner {
  background-color: #31B0D5; 
  color: #FFFFFF; 
  border: 1px solid black; 
  padding: 15px;
  font-size: 20px;
}
  /* Tooltip on top */
.tooltip.top > .tooltip-arrow {
  border-top: 5px solid green;
}


