/* ------- Estilo de las listas */
.dual-list .list-group {
    margin-top: 8px;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-arrows {
    padding-top: 20px;
}

/* Separacion  de los botones de desplazamiento */
.list-arrows button {
    margin-bottom: 5px;
}
/* ------- Fin de estilo de las listas */


/* ------- Estilos del interior de la lista */
.fecha {
    font-style: italic;
}

.titulo {
    font-weight: bold;
}
/* ------- Fin de estilos del interior de la lista */